<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="root">
    <div class="mainContainer">
      <page-header brand="admiral" class="containerBlock"></page-header>
      <login-title-wrapper class="containerBlock" >
        <text-title-bar title-text="For Car, Home and Van customers, login below to manage your cover"></text-title-bar>
      </login-title-wrapper>
      <div class="containerBlock">
        <div id="loginFooterWrapper" class="containerBlock">
          <text-title-bar title-text="Login to Other Products"></text-title-bar>
          <tile-container>
            <product-tile product-image="loans.svg" linkText="#"></product-tile>
            <product-tile product-image="veygo.svg" linkText="#"></product-tile>
            <product-tile product-image="travel.svg" linkText="#"></product-tile>
            <product-tile product-image="pet.svg" linkText="#"></product-tile>
          </tile-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
